@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', 'Roboto' ,sans-serif;
}


body .default {
	font-size: 15px;
}

i {
    color: black;
}

/**
.jumbotron {
	background-color: #ffffff;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
**/

#top-bar {
    /*display: flex;*/
    height: 6vh;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
}

#top-bar .container {
    /*display: flex;*/
    /*flex-direction: row;*/
    padding-top: 8px;
    height: 100%;
    align-items: center;
}

#top-bar i {
    color: white !important;
    padding-right: 6px;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-brand
{
    /*position: relative;*/
    background: url(img/logo.png);
    width: 300px;
    height: 70px;
    left: 15px;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(0, 82, 204);
	font-weight:bold;
}

#navCrumb .breadcrumb{
    background-color: black;
    height: 10vh;
}
/*****************************Home**********************************/
#intro .intro-img {
    /*width: 50%;*/
    /*float: right;*/
}

#intro {
    background-image: linear-gradient(45deg, rgba(22,34,42,0.1) 0%, rgba(58,96,115,0.8) 100%), url(img/plain-0066CC.svg);
	min-height: 70vh;
    padding-top: 160px;
    padding-bottom: 40px;
}

#intro .intro-info {
    /*width: 50%;*/
    /*float: left;*/
}

.intro-title{

}

.intro-subtitle{

}

.intro-caption{
	padding-top: 30px;
	padding-bottom: 30px;
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover, #intro .intro-info .btn-services:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #007bff;
}


/*******************************about-us************************/
.section-container {
	padding-top:60px;
	padding-bottom:60px;
}

.section-title {
	color: rgb(0, 82, 204);
	font-size: 3em;
	/*font-stretch: 100%;*/
}

.section-caption {
	padding-top: 40px;

}

.section-list {
	padding-top: 40px;
}

.section-button {
	margin-top:30px;
	color: rgb(103, 170, 83);
	background-color: rgb(255,255,255);
	border-color: rgb(103, 170, 83);
	border-radius: 25px;
	align-content: center;
	padding-top:10px;
	padding-bottom:10px;
}

.shaded-background {
	background-color: rgb(244, 252, 249);
}


.box{
    padding:20px 0px;
}

.box-part{
    border-radius:0;
    padding:30px 10px;
    margin:30px 0px;
    text-align: left;
}

.box-part .title {
	color: rgb(103, 170, 83);
	padding-top: 5px;
}

.text{
    margin:20px 0px;

}

.fas{
     color:rgb(103, 170, 83);
}

/****************************Team******************************/



