@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', 'Roboto' ,sans-serif;
    background-color: red;;
}


body .default {
	font-size: 15px;
}

i {
    color: black;
}

/**
.jumbotron {
	background-color: #ffffff;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
**/

#top-bar {
    /*display: flex;*/
    height: 6vh;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    background-color: #0066b2;
}

#top-bar .container {
    /*display: flex;*/
    /*flex-direction: row;*/
    padding-top: 8px;
    height: 100%;
    align-items: center;

}

#top-bar i {
    color: white !important;
    padding-right: 6px;
}

/*.navbar {
    display: flex;
    flex-direction: column;
}*/

.navbar-brand
{
    /*position: relative;*/
    background: url(img/logo.png);
    width: 300px;
    height: 12vh;
    /*left: 15px;*/
}

.navbar-light .navbar-nav .nav-link {
	font-size: 16px;
    font-weight: 600;
}

.nav-item.active a {
    color: rgb(0,82,204);
    background-color: lightblue;
    border-radius: 15px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(0,82,204);
    background-color: lightblue;
    border-radius: 15px;
	font-weight: bold;
}

#navCrumb .breadcrumb{
    background-color: #89CFF0;
    height: 10vh;
}

#navCrumb ol li {
    font-size: 1.7em;
    margin-left: 20px;
}
/*****************************Home**********************************/
#intro .intro-img {
    /*width: 50%;*/
    /*float: right;*/
}

#intro {
    background-image: linear-gradient(45deg, rgba(22,34,42,0.1) 0%, rgba(58,96,115,0.8) 100%), url(img/plain-0066CC.svg);
	min-height: 70vh;
    padding-top: 160px;
    padding-bottom: 40px;
}

#intro .intro-info {
    /*width: 50%;*/
    /*float: left;*/
}

.intro-title{

}

.intro-subtitle{

}

.intro-caption{
	padding-top: 30px;
	padding-bottom: 30px;
}

.intro-info a {
    text-decoration: none;
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover, #intro .intro-info .btn-services:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #007bff;
}


/*******************************about-us************************/
.section-container {
	padding-top:60px;
	padding-bottom:60px;
}

.section-title {
	color: rgb(0, 82, 204);
	font-size: 3em;
	/*font-stretch: 100%;*/
}

.section-caption {
	padding-top: 40px;

}

.section-list {
	padding-top: 40px;
}

.section-button {
	margin-top:30px;
	color: rgb(103, 170, 83);
	background-color: rgb(255,255,255);
	border-color: rgb(103, 170, 83);
	border-radius: 25px;
	align-content: center;
	padding-top:10px;
	padding-bottom:10px;
}

.shaded-background {
	background-color: rgb(244, 252, 249);
}


.box{
    padding:20px 0px;
}

.box-part{
    border-radius:0;
    padding:30px 10px;
    margin:30px 0px;
    text-align: left;
}

.box-part .title {
	color: rgb(103, 170, 83);
	padding-top: 5px;
}

.text{
    margin:20px 0px;

}

.fas{
     color:rgb(103, 170, 83);
}

/****************************Team******************************/
.team .member {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  }
  
  .team .member img {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .team .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #6c757d;
  }
  
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #6c757d;
  }
  
  .team .member .social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .team .member .social a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
  }
  
  .team .member .social a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
/**************************Footer*****************************/
#top-footer {
    background-color: lightblue;
    padding: 10px 0;
    /*color: red;*/
}

#top-footer h4 {
    margin-bottom: 0px !important;
}

footer {
  background: #232323;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */*/
  /*background: linear-gradient(to right, #434343, #000000);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer h4 {
    color: #fff;
    margin-top: 20px;
}

footer hr {
    border: 1px solid rgba(211,211,211,0.5);
    width: 80%;
}

footer ul li {
    padding-top: 20px;
    padding-right: 105px;
    font-size: 0.8em;
    font-family: 'Arial', Helvetica, sans-serif;
    color: gray;
    font-weight: 100;
}

footer p{
    padding-right: 45px;
    font-size: 0.8em;
    font-family: 'Arial', Helvetica, sans-serif;
    color: gray;
    font-weight: 100;
}

footer p.footerContent {
    padding-top: 20px;
}

/****************************contact***************************/
#maps{
    margin-top: 20px;
    margin-bottom: 20px;
}

#maps iframe {
    border-radius: 5px;
    border: 2px solid black;
}